---
layout: null
---
{% include header.html %}

<section>
{% if site.data.booklayout.layout[0] %}

  {% for item in site.data.booklayout.layout %}
  
  <section>
  
    <h2>{{ item.title }}: {{ item.page }}</h2>
    {% capture url %}{{ item.url | remove: ".html"  }}{% endcapture %}
    {{ site.pages | jsonify }}
    {% for p in site.pages %} {% if p.url == url %}
    {{p.content  | markdownify }}
    {% endif %}{% endfor %}
    
    
  
      {% if item.subfolderitems[0] %}
  
        <ul>
  
          {% for entry in item.subfolderitems %}
  
              <li><a href="{{ entry.url }}">{{ entry.page }}</a>
                {% if entry.subsubfolderitems[0] %}
                  <ul>
                  {% for subentry in entry.subsubfolderitems %}
                      <li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}

{% endif %}
</section>

{% include footer.html %}
